
/* Input box */
.list-url input {
	border-radius: 0;
}

/* Item remove button */
.list-url button {

	all:unset;
	width:2em;
	display:flex;
	align-items: center;
	justify-content: center;
	/* padding: 0 1em; */
	cursor:pointer;
}

.list-url button:hover {
	background:#0001;
}

