h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}

h1, .h1 {
	font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
	h1, .h1 {
		font-size: 2.5rem;
	}
}

h2, .h2 {
	font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
	h2, .h2 {
		font-size: 2rem;
	}
}

h3, .h3 {
	font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
	h3, .h3 {
		font-size: 1.75rem;
	}
}

h4, .h4 {
	font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
	h4, .h4 {
		font-size: 1.5rem;
	}
}

h5, .h5 {
	font-size: 1.25rem;
}
h6, .h6 {
	font-size: 1rem;
}

input {
	width:100%;
	border-radius: 0.25em;
	padding:0.5em;
	background:#fff;
	border:1px solid #0005;
	cursor:default;
}

input:read-only {
	background:#eee;
}

.flex {
	display:flex;
}
.dflex {
	display:flex;
}


.flexcol {
	flex-direction: column;
}

.flex01 {
	flex: 0 1;
}

.flex10 {
	flex:1 0;
}

.flex11 {
	flex: 1 1;
}

.textarea {
	width:50%;
	max-width: 100%;
	/* min-width: 100%; */
	min-height: 200px;
}

body {
	margin: 0;
	width:100%;
	height:100%;
}

.app {
	width:100%;
	height:100%;
	position:absolute;
}

.w100 {
	width:100%;
}

.h100 {
	height:100%;
}


.bg-yellow { background:yellow; }
.bg-gray { background:#111; }


.ocontain {
	object-fit: contain;
}




.mbtn {
	all:unset;
	cursor:pointer;
	padding:0.1em 0.3em;
	font-weight:bold;
	/* background:#333; */
	color:#fff;
}

.mbtn:hover {
	background:#444;
}